.about {
  padding: 160px 0 60px;
  background: $white;
  display: flex;
  gap: 50px;
  
  &__images {
    width: 50%;
    height: 600px;
    background: url("src/assets/images/icons/bg.svg") center center/cover no-repeat;
    
    &--items {
      padding: 30px;
      display: flex;
      flex-direction: column;
      transform: translateY(-70px);
      
      img {
        border-radius: 10px;
      }
      img:first-of-type {
        width: 370px;
        height: 304px;
      }
      img:last-of-type {
        width: 400px;
        height: 400px;
        margin-left: 70px;
        transform: translateY(-80px);
      }
    }
  }
  &__info {}
}