.baked {
  padding: 63px 0 176px;
  background: $white;
  &--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 69px;
  }
  &-card {
    flex: 1 1 370px;
    height: 384px;
    position: relative;
    background: $white;
    overflow: hidden;
    z-index: 1;
    transition: 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
      z-index: 2;
      .baked-card__border {
        transform: scale(1);
      }
    }
    &__border {
      position: absolute;
      top: 0;
      right: -18px;
      width: 176px;
      height: 186px;
      transform: scale(0);
      transform-origin: top right;
      border-radius: 50% 0 50% 50%;
      transition: 0.3s ease-in-out;
      
    }
    &__content {
      display: flex;
      flex-direction: column;
      padding: 72px 32px 64px 62px;
      @include media(576) {
        padding: 30px 25px;
      }
      
      img {
        width: 91px;
        height: 96px;
        display: flex;
        margin-bottom: 56px;
      }
      h4 {
        @include fonts(40px, 48px, $black);
        font-family: 'ultra';
        margin-bottom: 18px;
      }
      p {
        @include fonts(16px, 32px, $light-black);
        font-family: 'dmSans';
      }
    }
  }
  
  .title, .sub-title {
    text-align: center;
  }
}