* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: 'oswald';
  list-style: none;
  text-decoration: none;
  &::before, &::after {
    font-family: 'icons';
  }
}
:root {
  --white: #fff;
  --black: #171B1B;
  --beige: #E7D4BE70;
  --orange: #F5AE5C;
  --light-black: rgba(51, 51, 51, 0.496405);
  --light-orange: #F9BF77;
}
$white: var(--white);
$black: var(--black);
$beige: var(--beige);
$orange: var(--orange);
$light-black: var(--light-black);
$light-orange: var(--light-orange);
.icon {
  &-chevron-up::before {content: '\f077'; font-weight: 400;}
  &-chevron-down::before {content: '\f078'; font-weight: 400;}
  &-facebook::before {content: '\f39e'; font-weight: 400;}
  &-twitter::before {content: '\f099'; font-weight: 400;}
  &-instagram::before {content: '\f16d'; font-weight: 400;}
  &-play::before {content: '\f04b'; font-weight: 900;}
}
.container {
  @include container();
  border: 1px solid red;
}
.logo {
  @include fonts(40px, 48px, $black);
  font-family: 'ultra';
  text-transform: uppercase;
}
.sub-title {
  @include fonts(16px, 32px, $black);
  display: block;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.title {
  @include fonts(56px, 64px, $black);
  text-transform: capitalize;
  font-family: 'ultra';
  @include media(576) {
    @include fonts(46px, 54px);
  }
}

.tabs {
  background: $white;
  
  span {
    @include fonts(16px, 32px, $black);
    display: inline-block;
    letter-spacing: 3px;
    margin: 59px 0 12px;
  }
  
  &--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &--controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-right: 52px;
    @include media(576) {
      margin-right: 10px;
    }
  }
  &-btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $black;
    cursor: pointer;
    &::before {
      color: $light-orange;
    }
  }
  &--item {
    margin: 16px 0;
    &:first-of-type {
      h4 {
        font-family: "oswald";
      }
      p {
        display: block;
        height: unset;
      }
    }
    h4 {
      @include fonts(24px, 32px, $black);
      font-family: "dmSans";
      margin-bottom: 22px;
    }
    p {
      @include fonts(16px, 32px, $light-black);
      font-family: 'dmSans';
      width: 60%;
      height: 0;
      overflow: hidden;
      display: none;
      margin-bottom: 35px;
      @include media(768) {
        width: 100%;
      }
    }
  }
}
